table.ns-ssl-transformed {
  table-layout: fixed;
}

table.ns-ssl-transformed tbody td {
  width: 33.33%;
  vertical-align: top;
}

table.ns-ssl-transformed tbody a.dottedlink {
  display: inline-block;
  line-height: 1.4;
}
